<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @order.number %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @order.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @order.model %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
